* {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.delete-button {
  margin-left: auto;
  background-color: #e06a58;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.button {
  height: 30px;
  background-color: #72be79;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  text-transform: uppercase;
  cursor: pointer;
}
